PARAMETER_CITY_NAME=--city

PARAMETER_DAYS_NAME=--days
PARAMETER_DAYS_DEFAULT_VALUE=3
PARAMETER_DAYS_MIN_VALUE=1
PARAMETER_DAYS_MAX_VALUE=7

PARAMETER_NOCACHE_NAME=--nocache

BASE_URL_GEOCODING=https://geocoding-api.open-meteo.com/v1/search
BASE_URL_WEATHER=https://api.open-meteo.com/v1/forecast
API_TIMEOUT=5000

REPORTS_FOLDER=reports

CITY=Казань
DAYS=5
NOCACHE=true
